VITE_FIREBASE_API_KEY=AIzaSyCnJM2-FqlU75ykngKx1w6ksPkNPvBp63Q
VITE_FIREBASE_AUTH_DOMAIN=bytelab-f1acf.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bytelab-f1acf
VITE_FIREBASE_STORAGE_BUCKET=bytelab-f1acf.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=548106042001
VITE_FIREBASE_APP_ID=1:548106042001:web:9f5331478c6da0242edd30
VITE_FIREBASE_MEASUREMENT_ID=G-R6PXKHS4E3
